/* SearchResults.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.search-results-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(253, 253, 253);
}

.search-results-content {
  margin: auto;
  width: 80%;
  padding-top: 100px;
  text-align: center;
}




